.header-index-SD{
    height: 9.375rem;
    position: fixed;
    top: 0px;
    background-color: hsl(0, 0%, 100%);
    z-index: 10;
}
.img-jumbo-index-SD{
    margin-top: 9.375rem;
    
   height: 50rem;
   width: 100%;
}
.img-jum{
    
    width: 100%;
    height: 100%;
    background-image: url('https://bnetcmsus-a.akamaihd.net/cms/blog_header/je/JE6C7GW7MXD01535529576822.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    z-index: -10;
    filter: brightness(0.9); 

}

.bg-sd-card{
    background-color: blue;
}
ul{
    
    li{
        display: flex;
        align-items: center;
        list-style: none;
        height: 150px;
        
        a{
            text-decoration: none;
            font-size: 20px;
            color: #232323;
            
        }
        
    }
}
.border-SD-blue{
    border-bottom: 10px solid rgb(1, 99, 255);
}
.SD-base{
background-color: #232323;
.SD-main{
    background: rgb(18,18,18);
    background: linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(181,25,25,1) 50%, rgba(0,0,0,1) 100%);
    padding-top: 150px;
    padding-bottom: 150px;
    transform: perspective(1500px) rotateX(20deg);    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: transform 1s ease 0s;
   &:hover {
      transform: perspective(3000px) rotateX(0deg);}
    .card-SD{
    margin: 20px;
    width: 400px;
    height: 450px;
    color: #fff;
    border-right: 8px solid #fff;
    border-bottom: 8px solid #fff;
}
    .img-card{
    width: 100%;
    height: 80%;
}
}
}
.SD-footer{}